body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  background-color: grey;
  border:20px;
  height:70vh;
  width:80vw;
  position:absolute;
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  padding:10px;
  box-sizing: border-box;
}
.input{
  background-color: white;
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:95%;
  border-radius: 10px;
  margin:10px 0px 10px 0px;
  height:30px
}
.input input{
  outline:none;
  border:none
}
.input button{
  height:100%;
}
